<footer>
  <section class="contact">
    <div class="contact-details">
      <h2>Hotels</h2>
      <a href="">Sobre nosotros</a>
      <a href="">Contáctanos</a>
      <a href="">Términos de uso</a>
      <a href="">Política de privacidad</a>
    </div>
    <div class="contact-rrss">
      <h2>Follow Us</h2>
      <a href="">
        <mat-icon aria-hidden="false" class="rrss-icon" fontIcon="facebook"></mat-icon>
      </a>
    </div>
  </section>
  <section class="newsletter">
    <h2>Únete a nuestra newsletter</h2>
    <mat-form-field>
      <mat-label>Introduce tu email para recibir las últimas novedades</mat-label>
      <input matInput />
    </mat-form-field>
  </section>
</footer>